<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추억 공유장</title>
    <style>
        .title {
            background-color: rgb(170, 199, 211);
            color: white;
            margin-bottom: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #login_button {
            margin-right: 20px;
        }
    </style>
    <meta property="og:title" content="추억 공유장" />
    <meta property="og:description" content="소중한 추억을 공유해보세요!" />
    <meta property="og:image" content="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1584343575909-be1d8462ecea%3Fcrop%3Dfaces%252Cedges%26cs%3Dtinysrgb%26fit%3Dcrop%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjc1NzA5Njg2%26ixlib%3Drb-4.0.3%26q%3D60%26w%3D1200%26auto%3Dformat%26h%3D630%26mark-w%3D64%26mark-align%3Dtop%252Cleft%26mark-pad%3D50%26blend-mode%3Dnormal%26blend-alpha%3D10%26blend-w%3D1%26mark%3Dhttps%253A%252F%252Fimages.unsplash.com%252Fopengraph%252Flogo.png%26blend%3D000000&type=sc960_832" />
</head>

<body>
    <div class="title">
        <h1>추억 공유장</h1>
        <p>소중한 사람들의 추억을 함께 공유해보세요</p>
    </div>
    <div class="button">
        <a id="login_button" href="{{ url_for('login') }}"><button>로그인하기</button></a>
        <a id="reg_button" href="{{ url_for('register') }}"><button>회원 가입</button></a>
    </div>
</body>

</html>